mixin post(title, time, imgSrc, post)
  h1: a.text-warning(href='/blog/' + title)= title
  p
    span.glyphicon.glyphicon-time
    |  Posted on #{time}
  - if (imgSrc.length)
    hr
    img.img-responsive(src=imgSrc, width='400', height='100')
  hr
  div
    !{post}
    
mixin navBar(indexActive)
  - var titles = ['Home', 'Blog'];
  - var hrefs = ['/', '/blog'];
  - each title, i in titles
    ul.nav.navbar-nav
      - if (i == indexActive)
        li(class='active')
          a(href=hrefs[i])= titles[i]
      - else
        li
          a(href=hrefs[i])= titles[i]


!!! transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(charset='utf-8', src='/editor/kindeditor-min.js')
    script(charset='utf-8', src='/editor/lang/zh_CN.js')
    script.
      var editor; KindEditor.ready(function(K) { editor = K.create('#editor_id'); });
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='txt/css', href='/stylesheets/bootstrap-responsive.css')
    style.
      body{padding-left:30px;padding-right:30px;padding-top:20px;padding-bottom:40px;}
    title=title
  body
    nav.navbar.navbar-inverse(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-9')
            span.sr-only
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Litmus Blog
        div.collapse.navbar-collapse
          block nav

    div.container
      div.row
        div.col-lg-9
          block content
        div.col-lg-3
          div.well
            h4 Blog Search
            form(action='/search', method='get')
              div.input-group
                input.form-control(type='text', name='keyword')
                span.input-group-btn
                  button.btn.btn-default(type='submit') Go
          div.well
            - each tag in tags
              h5: a.text-warning(href='/tag/' + timeline)= tag

    hr
    footer
      p Copyright © 2013 Litmus.
      p Made in Beijing